<p id="notice"><%= notice %></p>
<h1><%= @post.title %></h1>

<p>
  <strong>Title:
  </strong>
  <%= @post.title %><br/>
  Created Date:
  <%= @post.created_at %><br/>
</p>

<strong>Post</strong>
<p><%= @post.body %></p>

<hr/>
<br>
<h2><%= @post.comments.count %>Comments</h2>
<%= render @post.comments %>
<h3>Add a Comment:</h3>
<%= render 'comments/form' %>
<br>
<%= link_to 'Edit', edit_post_path(@post) %>
|
<%= link_to 'Back', posts_path %>